[Unit]
Description=Elixxir Monitor Service
After=multi-user.target
Requires=xxnetwork-node.service

[Service]
Type=simple
ExecStart=/opt/scripts/xxmonitor/xxmonitor.py -c /opt/scripts/xxmonitor/settings.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
